---
layout: default
---
{% include hero.html %}

<div class="container">
	<div class="row">
		{% for post in site.pages %}
			{% if post.tags contains 'featured' %}
				{% include article-content.html %}
			{% endif %}
		{% endfor %}
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-12">
			<h1 class="lates-title">Highlights & Events</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	{% for post in site.posts %}
		{% include article-content.html %}
	{% endfor %}
	</div>
</div>
